@{
    ViewBag.Title = "Edit";
}

@model Bai01.Models.Theloaitin
<h2>Edit</h2>

<form action="/Home/Edit/@Model.IDLoai" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Fields</legend>
        <div class="editor-label">
            Tên thể loại
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tentheloai)
            @Html.ValidationMessageFor(model => model.Tentheloai)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>